* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
/* 
@media screen and (max-width: 768px) {
div {
  background-color: lightgreen;
  width: 30px;
}

}
@media screen and (min-width: 768px) {
  header {
  background-color: lightgreen;
  display: flex
}
} */

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fbf9f9;
}

.navbar .nav_items a {
  width: 25%;
  color: #040404;
  text-decoration: none;
  font-size: 20px;
  padding:1rem 2rem;
}

.header{
  background-image: url(../images/couple.jpg);
}

.header,
.invitation{
  min-height: 100%;
  background-position: center;
  background-size: cover; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
}

.header .names{
  font-size: 70px;
  color: white;
}

.header h3{
  font-size: 30px;
  padding: 20px;
  color: white;
}

.header h2{
  font-size: 30px;
  color: white;
}

@media screen and (max-width: 768px) {
.header .names{
  font-size: 70px;
  color: white;
  display: block;
}
      
.header h3{
  font-size: 35px;
  padding: 20px;
  color: white;
  display: block;
}
      
.header h2{
  font-size: 30px;
  color: white;
  display: block;
}
    
}

.About{
  background-color: #c7b2c1;
}

.About .about-couples .couples-name,
.location .venue{
  color: #808080;
  justify-content: center;
  justify-self: center;
  align-items: center;
  display: flex;
  height: 20vh;
}

.about-couples img,
.venue img{
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 1050px;
  height: 600px;
  border-radius: 2%;
}

.About .about-couples p{
  margin: auto;
  padding: 30px 150px;
  justify-content: center;
  justify-self: center;
  line-height: 30px;
}

/* .About .about-couples a{
  justify-content: center;
  justify-self: center;
} */

@media screen and (max-width: 768px) {
.About .about-couples p{
  font-style: italic;
  margin: auto;
  padding: 30px 15px;
  justify-content: center;
  justify-self: center;
  line-height: 30px;
}

.about-couples img{
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 540px;
    height: 300px;
    border-radius: 4%;
  }
}

.invitation{
  background-image: url(../images/flowers.jpg);
}

.invitation .invite{
  font-size: 70px;
  color: white;
}
  
.invitation h6{
  font-size: 30px;
  padding: 50px;
  color: white;
}
   



